<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- UNTUK WEBVIEW -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SiBansos"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HayaSparkle">
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Pertemuan6.SixthActivity"
            android:exported="false" /> <!-- SPLASH (LAUNCHER) -->
        <activity
            android:name=".BaseActivity"
            android:exported="false" /> <!-- LOGIN -->
        <activity
            android:name=".Pertemuan3.WelcomeActivity"
            android:exported="false" /> <!-- DASHBOARD -->
        <activity
            android:name=".Pertemuan4.DashboardActivity"
            android:exported="false" /> <!-- WEBVIEW -->
        <activity
            android:name=".Pertemuan4.WebViewActivity"
            android:exported="false" /> <!-- MENU -->
        <activity
            android:name=".Pertemuan4.Custom1Activity"
            android:exported="false" />
        <activity
            android:name=".Pertemuan4.Custom2Activity"
            android:exported="false" />
        <activity
            android:name=".Pertemuan2.SecondActivity"
            android:exported="false" /> <!-- OPTIONAL -->
        <activity
            android:name=".Pertemuan3.MainActivity"
            android:exported="false" />
    </application>

</manifest>